body {
}

.inner {
  width: 1100px;
  position: relative;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed ;
  top: 0;
  z-index: 9;
}

header>.inner {
  height: 120px;
}

header img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub_menu {
  position: absolute;
  display: flex;
  right: 0;
  top: 5px;
}

header .sub_menu ul {
  margin-top: 4px;
  display: flex;
}

header .sub_menu li {
  padding: 0 10px 10px 0;
}

header .sub_menu li:after {
  content: "|";
}

header .sub_menu li:last-child::after {
  content: "";
}

header .search {
  position: relative;
}

header .search .search_text {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  transition: width .4s;
}

header .search .search_text.focus {
  width: 140px;
  height: 20px;
  border-radius: 6px;
}

header .search .material-icons {
  position: absolute;
  top: 1px;
  right: 0;
  cursor: pointer;
}

header .main_menu {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
}

header .main_menu .item .item_name {
  padding: 6px 10px 34px 10px;
}

header .main_menu .item:hover .item_name {
  border-radius: 6px 6px 0 0;
  background-color: #2c2a29;
  color: #669900;
}

header .main_menu .item_contents {
  width: 100%;
  left: 0;
  position: fixed;
  display: none;
  z-index: 9;
}

header .main_menu .item:hover .item_contents {
  display: block;
}

header .main_menu .item_contents .menu_contents {
  background-color: #2c2a29;
}

header .main_menu .item_contents .menu_contents h4 {
  margin: 20px 0 15px 0;
  color: white;
}

header .main_menu .item_contents .menu_contents a {
  font-size: 13px;
  color: #999999;
}

header .main_menu .item_contents .menu_contents a:hover {
  color: #669900;
}

header .main_menu .item_contents .menu_contents .inner {
  display: flex;
}

header .main_menu .item_contents .menu_contents li {
  width: 280px;
  margin-bottom: 10px;
}


header .main_menu .item_contents .text_contents {
  background-image: url("../images/main_menu_pattern.jpg");
}

header .main_menu .item_contents .text_contents .text {
  padding: 35px 0 35px 0;
}

header .main_menu .item_contents .text_contents .text>h4 {
  color: #999999;
  font-size: 700;
  margin-top: 7px;

}

header .main_menu .item_contents .text_contents .text>p {
  color: #669900;
  margin: 3px 0 7px 0;
}


/* section - 1 */

.main_visual_warp {
  margin-top: 120px;
  position: relative;
  height: 600px;
}

.main_visual_warp .inner {
  height: 300px;
}

.main_visual_warp .find_teste,
.main_visual_warp .drink_one,
.main_visual_warp .drink_two,
.main_visual_warp .drink_three {
  position: absolute;
}

.main_visual_warp .find_teste {
  top: 140px;
  left: -120px;
}

.main_visual_warp .find_teste button {
  width: 120px;
  height: 35px;
  display: block;
  margin: 50px auto;
  background-color: #c2d52f;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
}

.main_visual_warp .find_teste button:hover {
  background-color: #fff;
  color: #c2d52f;
}

.main_visual_warp .drink_one {
  top: 40px;
  left: 240px;
}

.main_visual_warp .drink_two {
  top: 90px;
  left: 440px
}

.main_visual_warp .drink_three {
  top: 40px;
  left: 730px
}

.main_visual_warp .bg_area {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  z-index: -1;
}

.main_visual_warp .bg_area .bg_left,
.main_visual_warp .bg_area .bg_right {
  height: auto;
}

.main_visual_warp .bg_area .bg_left {
  width: 52%;
  background-color: #c2d52f;
}

.main_visual_warp .bg_area .bg_right {
  width: 48%;
  background-color: #87c9e2;
}

/* section - 2 */

.bg_line_notice {
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
}

.bg_line_notice .line_notice_left,
.bg_line_notice .line_notice_right {
  position: relative;
  height: 100%;
}

.bg_line_notice .line_notice_left {
  width: 52%;
  background-color: #000;
}

.bg_line_notice .line_notice_left .inner {
  display: flex;
  width: 700px;
  height: 100%;
  margin-right: 0;
  align-items: center;
  overflow: hidden;
}

.bg_line_notice .line_notice_left .inner h4 {
  display: block;
  color: #fff;
  font-size: 18px;
  justify-content: center;
  margin-left: 100px;
  font-weight: bold;
}

.bg_line_notice .line_notice_left .inner .swiper {
  height: 64px;
  flex-grow: 1;
}

.bg_line_notice .line_notice_left .inner .swiper .swiper-slide {
  display: flex;
  height: 50px;
  color: #fff;
  align-items: center;
  margin-left: 30px;
}

.bg_line_notice .line_notice_left .inner .material-icons {
  position: absolute;
  right: 40px;
  color: #fff;

}

.bg_line_notice .line_notice_right {
  width: 48%;
  background-color: #f6f5f0;
}

.bg_line_notice .line_notice_right .inner {
  display: flex;
  width: 400px;
  height: 100%;
  margin-left: 0;
  align-items: center;
}

.bg_line_notice .line_notice_right .inner h4 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 120px;
}

.bg_line_notice .line_notice_right .inner .arrow_circle_down,
.bg_line_notice .line_notice_right .inner .arrow_circle_up {
  position: absolute;
  top: 25px;
  right: 50px;
  cursor: pointer;
}

.bg_line_notice .line_notice_right .inner .arrow_circle_down.invisible,
.bg_line_notice .line_notice_right .inner .arrow_circle_up.invisible {
  display: none;
}

/* section - 3 */
.promotion {
  display: none;
  height: 0;
  transition: .4s;

}

.promotion.visible {
  display: flex;
  position: relative;
  height: 700px;
  background-color: #f6f5ef;
}

.promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}

.promotion .swiper .swiper-slide {
  opacity: .5;
}

.promotion .swiper .swiper-slide-active {
  opacity: 1;
}

/* section - 4 */

.rewards .rewards_bg {
  background-color: #1e3932;
  height: 250px;
}

/* rewards section */
.rewards .rewards_bg .inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.rewards .rewards_bg .inner .starbuck_rewads_logo {
  width: 172px
}


.rewards .rewards_bg .inner .rewards_content h4,
.rewards .rewards_bg .inner .rewards_content p {
  color: #fff;
  padding: 5px;
  line-height: 25px;
}

.rewards .rewards_bg .inner .rewards_content p strong {
  font-weight: bold;
  font-size: 18px;
}

.rewards .rewards_bg .inner .rewards_content h4 strong {
  font-weight: bold;
  font-size: 23px;
}

.rewards .rewards_bg .inner .rewards_content {
  position: absolute;
  right: 0;
}

.rewards .rewards_bg .inner .rewards_content .starbucks_member {
  position: relative;
  display: flex;
  border-bottom: 1px solid #999999;

}

.rewards .rewards_bg .inner .rewards_content .starbucks_member .rewards_sign_up {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.rewards .rewards_bg .inner .rewards_content .starbucks_member .rewards_sign_up .sign_up_btn {
  padding: 10px 10px 10px 10px;
  color: #fff;
  border: 1px solid #00704a;
  background-color: #00704a;
  ;
  border-radius: 6px;
  cursor: pointer;

}

.rewards .rewards_bg .inner .rewards_content .starbucks_member .rewards_sign_up .sign_up_btn:hover {
  text-decoration: underline;
}

.rewards .rewards_bg .inner .rewards_content .starbucks_member .rewards_sign_up .log_in_btn {
  padding: 10px 10px 10px 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #1e3932;
  cursor: pointer;
}

.rewards .rewards_bg .inner .rewards_content .starbucks_member .rewards_sign_up .log_in_btn:hover {
  text-decoration: underline;
}

.rewards .rewards_bg .inner .rewards_content .rewards_text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rewards .rewards_bg .inner .rewards_content .rewards_text .gift_btn {
  height: 35px;
  right: 0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: #1e3932;
  margin-left: 20px;
}

/* season - section */
.season_coffee {
  width: 100%;
  height: 572px;
  background-image: url("../images/2022_Summer2_bean_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.season_coffee .inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.season_coffee .season_bean {
  position: absolute;
  left: 150px;
}

.season_coffee .bean_content {
  position: absolute;
  right: 30px;
}

.season_coffee .bean_content button {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 30px 10px 30px;
  margin-top: 60px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  /* transition: 1s; */
  font-size: 20px;
}

.season_coffee .bean_content button:hover {
  transition: .8s;
  background-color: #fff;
  color: #085958;
}

/* section - indonesia */
.bean_place {
  height: 300px;
  background-image: url("../images/reserve_2022_indonesia_visual3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bean_place img {
  margin-top: 60px;
}

/* section - favorite */
.coffee_favorite {
  

  position: relative;
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.coffee_favorite .inner {
  height: 700px;
}

.coffee_favorite .favorite_content {
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 50px 0 30px 0;
}

.coffee_favorite .favorite_content img {
  padding-top: 30px;
}

.coffee_favorite .favorite_content button {
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
}

.coffee_favorite .favorite_content button:hover {
  transition: .4s;
  background-color: #fff;
  text-decoration: underline;
  color: #000;
}

.coffee_favorite .faverite_pick {
  position: absolute;
  top: 0;
  right: -200px;
  padding-top: 50px;
}

/* reserve */

.reserve {
  position: relative;
  background-image: url("../images/reserve_bg_pc.png");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}

.reserve .inner{
  height: 400px;
}

.reserve .reserve_text {
  padding: 150px 0 50px 0; 
}

.reserve .reserve_visual {
  position: absolute;
  top: 0;
  right: 10px;
}

.reserve button {
  margin-left: 330px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 30px 10px 30px;
  border-radius: 6px;
}

.reserve button:hover {
  transition: .4s;
  background-color: #000;
  color: #fff;
}

.storeWrap {
  position: relative;
  /* height: 400px; */
  background-image: url("../images/store_bg.jpg");
}

.storeWrap .inner{
  width: 1300px;
  height: 400px;
  display: flex;
}

.storeWrap .store_exp_2{
}

.storeWrap .store_exp_1{
  margin-top: 150px;
  margin-left: -150px;
}

.storeWrap .store_text{
  display: block;
  width: 400px;
  margin-top: 100px
}
.storeWrap .store_text img{
  padding-bottom: 20px;
}
.storeWrap .store_text button{
  padding: 10px 30px 10px 30px;
  background-color: rgba(0, 0, 0, 0);
  transition: .8s;
}
.storeWrap .store_text button:hover{
  background-color: #000;
  color: #fff;
}

.storeWrap .store_emotion{
  position: absolute;
  bottom: 0;
  right: 0;
}